{% load static %}
<!DOCTYPE html>
<html lang="en">
   <title>GuessWho</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script type="text/javascript" src="{% static 'script.js' %}"></script>
   <head>
     <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
   </head>
   <body>
      <!-- !PAGE CONTENT! -->
      
      {% if not isPlayer %}

      <div id="container">
        <p id="heading">Upload your Picture!</p><br>
        {% csrf_token %}
        <input id="myFileInput" type="file" accept="image/*" capture="camera">
        <h1><font id="load_text" color="white"></font></h1>
      </div>
      {% else %}
        {% include "questions.html" %}
      {% endif %}
   </body>
</html>